@import "bootstrap/scss/bootstrap";
@import "react-toastify/scss/main";
@import "toastify";

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.75em;
}

#App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

#global-loading-spinner-wrapper {
	position: absolute;
	top: 4.5rem;
	right: 3.5rem;
}

#initial-loader {
	// background-color: #3f7bc2;
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

.center-y {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.img-square {
	aspect-ratio: 1;
	object-fit: cover;
}
