@import "bootstrap/scss/bootstrap";
@import "react-toastify/scss/main";
@import "toastify";

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.75em;
}

#App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

.navbar-brand img {
	position: relative;
	top: -3.5px;
}

.invalid {
	color: $danger;
	font-size: 0.875em;
	margin-top: 0.25rem;
}

.todolist {
	.list-group-item {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&.done {
			color: $success;
			font-style: italic;
			text-decoration: line-through;
		}
	}
}
