@import "bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.75em;
}

#App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

.counter {
	.points {
		display: inline-block;
		text-align: center;
		width: 4rem;
	}
}
